NODE_ENV=development

# DEVELOPMENT
DEV_PORT=3000
DEV_HOST=http://localhost:3000
DEV_MONGO_URI=mongodb://localhost:27017/auth_api

#Testing
TEST_PORT=
TEST_HOST=
TEST_MONGO_URI=

# STAGING
STAG_PORT=
STAG_HOST=
STAG_MONGO_URI=

# PRODUCTION
PROD_PORT=
PROD_HOST=
PROD_MONGO_URI=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=